<!-- login content -->
<div class="h-screen pt-[72px] pb-[112px] bg-[#f0f2f5]">
  <div class="flex justify-evenly m-[40px]">
    <!-- logo -->
    <div class="flex flex-col justify-center">
      <img
        src="https://static.xx.fbcdn.net/rsrc.php/y1/r/4lCu2zih0ca.svg"
        class="h-[100px] ml-[-182px]"
      />
      <h2
        class="text-[28px]"
        style="
          font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
          font-weight: normal;
          line-height: 32px;
          width: 500px;
        "
      >
        Facebook helps you connect and share with the people in your life.
      </h2>
    </div>
    <!-- form -->
    <div class="flex flex-col">
      <div>
        <div
          class="bg-white rounded-[8px] p-[20px]"
          style="
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
              0 8px 16px rgba(0, 0, 0, 0.1);
          "
        >
          <div>
            <mat-form-field class="w-[332px]" appearance="outline">
              <input matInput placeholder="Email address or Phone number" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="w-[332px]" appearance="outline">
              <input matInput placeholder="Password" />
            </mat-form-field>
          </div>
          <div>
            <button
              mat-raised-button
              style="
                background-color: #0866ff;
                color: white;
                border-radius: 6px;
                padding: 0 16px;
                width: 332px;
                font-size: 20px;
                line-height: 48px;
                height: 50px;
              "
              class="text-white"
            >
              Log in
            </button>
          </div>
          <div
            class="my-3 text-center text-[#0866ff] text-[14px] font-normal cursor-pointer hover:underline"
          >
            Forgotten password?
          </div>
          <div class="bg-[#dadde1] border-[1px] my-5 mx-4"></div>
          <div class="my-3 flex justify-center">
            <button
              mat-raised-button
              style="
                background-color: #42b72a;
                color: white;
                border-radius: 6px;
                padding: 0 16px;
                width: 190px;
                font-size: 14px;
                height: 50px;
              "
              class="text-white"
            >
              Create new account
            </button>
          </div>
        </div>
      </div>
      <div
        style="font-family: SFProText-Regular, Helvetica, Arial, sans-serif"
        class="text-center mt-6"
      >
        <span class="font-semibold text-[#1c1e21] text-[14px]"
          >Create a Page</span
        >
        <span class="ml-[2px] text-[#1c1e21] text-[14px]"
          >for a celebrity, brand or business.</span
        >
      </div>
    </div>
  </div>
</div>

<!-- footer section -->
<div class="m-10">
  <div class="mt-3">
    <ul class="">
      <a class="text-[#8a8d91] text-[12px] flex gap-[10px] underline">
        <li>English (UK)</li>
        <li>தமிழ்</li>
        <li>తెలుగు</li>
        <li>ಕನ್ನಡ</li>
        <li>اردو</li>
        <li>हिन्दी</li>
        <li>മലയാളം</li>
        <li>සිංහල</li>
        <li>ਪੰਜਾਬੀ</li>
        <li>বাংলা</li>
        <li>ગુજરાતી</li>
      </a>
    </ul>
  </div>
  <div class="mt-[10px] h-[1px] w-full bg-[#dddfe2]"></div>

  <div class="mt-3">
    <ul>
      <a class="text-[#8a8d91] text-[12px] flex gap-[10px] underline">
        <li>Sign Up</li>
        <li>Log in</li>
        <li>Messenger</li>
        <li>Facebook Lite</li>
        <li>Video</li>
        <li>Places</li>
        <li>Games</li>
        <li>Marketplace</li>
        <li>Meta Pay</li>
        <li>Meta Store</li>
        <li>Meta Quest</li>
        <li>Imagine with Meta AI</li>
        <li>Instagram</li>
        <li>Threads</li>
        <li>Fundraisers</li>
        <li>Services</li>
        <li>Voting Information Centre</li>
        <li>Privacy Policy</li>
        <li>Privacy Centre</li>
        <li>Groups</li>
        <li>About</li>
        <li>Create ad</li>
        <li>Create Page</li>
        <li>Developers</li>
        <li>Careers</li>
        <li>Cookies</li>
        <li>AdChoices</li>
        <li>Terms</li>
        <li>Help</li>
        <li>Contact uploading and non-usersSettingsActivity log</li>
      </a>

      <li><a href="">Sign Up</a></li>
      <li><a href="">Log in</a></li>
      <li><a href="">Messenger</a></li>
      <li><a href="">Facebook Lite</a></li>
      <li><a href="">Video</a></li>
      <li><a href="">Places</a></li>
      <li><a href="">Games</a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </div>
</div>
